aside {
  max-width: 285px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.underline {
  border-bottom: 1px solid #f85d08;
  padding: 0 0 8px;
  max-width: 255px;
}

.nav__none {
  /* display: none; */
  visibility: hidden;
  height: 0;
}

.nav__genres {
  display: -webkit-box;
  gap: 78px;
}

.nav__link {
  display: flex;
  gap: 6px;
}

.navItem {
  visibility: hidden;
}

.navItemActive {
  visibility: visible;
}

/* a {
  
}

a:hover {
} 

a:visited {}
*/

.nav__link-active {
  color: #f85907;
  border-bottom: 1px solid #f85d08;
  padding: 0 0 8px;
  width: 255px;
}

.nav__list-books {
  padding-bottom: 25px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
}

.nav__list {
  padding-bottom: 42px;
}

.nav__all-books {
  padding: 0 10px 0 20px;
}

.nav__list-books > ul > li:not(:nth-child(1)) {
  padding: 16px 1px 0 24px;
}

.nav__item {
  display: block;
}

.nav__count {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #a7a7a7;
  /* padding-left: 3px; */
}

.arrow {
  width: 14px;
  height: 8px;
  margin: 9px;
}

.arrow-down {
  background-image: url('../../../../public/assets/img/arrowDown.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.arrow-up {
  background-image: url('../../../../public/assets/img/arrowUp.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1264px) {
  .wrapper aside {
    display: none;
    /* overflow: hidden;
    height: 0; */
  }

  #aside-container {
    margin-right: 0;
  }
}
