article {
  width: 100%;
}

.main-wrapper {
  display: flex;
  gap: 30px;
}

.aside-container {
  max-width: 285px;
  width: 100%;
  display: block;
}

.loader-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  z-index: 9;
}

.loader {
  border: 10px solid #e3e3e3;
  border-top: 10px solid #f83600;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 10;
  animation: spin 1s linear infinite;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.main-btns {
  display: flex;
}

.btn-grid {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../../../public/assets/img/icon1-grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 52% 52%;
  box-shadow: 0px 2px 3px 1px rgb(191 196 201 / 50%);
  border: none;
}

.btn-grid-active {
  background-color: #f86209;
  background-image: url('../../../public/assets/img/icon1-white.svg');
}

.btn-list {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../../../public/assets/img/icon2-grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 53% 53%;
  margin-left: 16px;
  box-shadow: 0px 2px 3px 1px rgb(191 196 201 / 50%);
  border: none;
}

.btn-list-active {
  background-color: #f86209;
  background-image: url('../../../public/assets/img/icon2-white.svg');
}

.menu-container {
  display: flex;
  gap: 16px;
}

.stars {
  display: flex;
  gap: 10px;
  padding: 2px 0 0 2px;
}

.star {
  width: 20px;
  height: 19px;
}

.not-star {
  padding: 0;
}

.error-container {
  /* max-width: 1110px;
  height: 80px;
  background: #feebea;
  border: 1.5px solid #f42c4f;
  border-radius: 5px; */
  background-color: inherit;
  z-index: 6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

.error-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #feebea;
  max-width: 1110px;
  width: 100%;
  height: 80px;
  padding: 0 36px;
  border: 1.5px solid #f42c4f;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 64px;
}

.warning {
  width: 32px;
  height: 32px;
  background-image: url('../../../public/assets/img/warning.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.error-message {
  position: absolute;
  padding-left: 64px;
}

.close-message {
  width: 16px;
  height: 16px;
  border: none;
  background-color: #feebea;
  background-image: url('../../../public/assets/img/closeError.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1264px) {
  .aside-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .book-page-container {
    padding: 8px 7px 0;
  }

  .aside-container {
    /* overflow: hidden;
    height: 0; */
    display: none;
  }

  .menu {
    margin: 0 64px;
  }
}

@media screen and (max-width: 760px) {
  /* .search-container, */
  .filter-container,
  .btn-grid,
  .btn-list {
    width: 38px;
    height: 38px;
  }

  /* .search, */
  .filter {
    overflow: hidden;
    height: 0;
  }

  .book-list-autor {
    margin-bottom: 100px;
  }

  .list-rating {
    bottom: 80px;
  }
  .book-list-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .menu {
    margin: 0 auto;
  }
}

@media screen and (max-width: 564px) {
  .book-grid-container {
    height: 470px;
    width: 288px;
  }

  .book-grid-cover,
  .grid-cover-cat {
    margin: 0 auto;
  }
}

@media screen and (max-width: 470px) {
  .books-list {
    margin: 24px auto 0;
  }

  .list-rating {
    bottom: 79px;
  }

  .book-list-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    width: auto;
    margin-bottom: 3px;
  }

  .book-list-autor {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 91px;
  }

  .list-reserve {
    width: 186px;
    right: 16px;
  }

  .book-list-cover,
  .list-cover-cat {
    height: 100px;
    width: 70px;
  }

  /* .main-page {
    margin: 0 20px;
  } */
}

@media screen and (max-width: 320px) {
  .menu {
    padding-top: 14px;
  }

  /* .main-page {
    margin: 0;
  } */

  /* .search-container, */
  .filter-container,
  .btn-grid,
  .btn-list {
    width: 32px;
    height: 32px;
  }

  /* .search, */
  .filter {
    overflow: hidden;
    height: 0;
  }

  .books-grid {
    /* margin: 27px 0 37px; */
    margin: 33px 0 37px;
    gap: 16px;
  }

  .book-grid-container {
    height: 470px;
    width: 288px;
  }

  .grid-description {
    padding: 0 7px;
  }

  .book-grid-title {
    font-weight: 700;
    font-size: 12px;

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    height: 100%;
  }

  .book-grid-autor {
    padding: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
  }

  .grid-rating {
    margin: 16px 0 20px;
  }

  .grid-reserve {
    margin: 0 0px 17px;
    height: 40px;
    width: 256px;
  }

  .book-title-container {
    padding: 0 0 8px 0;
    height: 100%;
  }

  .books-list {
    margin-top: 19px;
  }

  .book-list-container {
    width: 288px;
    /* height: 146px; */
    height: auto;
  }

  .book-list-cover,
  .list-cover-cat {
    height: 100px;
    width: 70px;
  }

  .book-list-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    width: auto;
    margin-bottom: 3px;
  }

  .book-list-autor {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 91px;
  }

  element.style {
    /* position: relative; */
    position: unset;
  }

  .list-reserve {
    /* position: unset; */
    /* margin-bottom: 14px; */
    width: 186px;
    right: 16px;
  }

  .book-cover {
    gap: 8px;
    padding: 16px 0 0 8px;
  }
  /* 
  .list-rating {
    bottom: 79px;
  } */
}
