.swiper {
  width: 445px;
  height: 593px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 3px;
}

.mini-swiper {
  height: 86px;
  box-sizing: border-box;
  padding: 10px 0;
}

.mini-swiper .swiper-slide:not(:last-child) {
  margin-right: 30px !important;
}

.mini-swiper .swiper-slide {
  width: 65px !important;
  height: 100%;
  opacity: 0.4;
}

.mini-swiper .swiper-slide-thumb-active {
  opacity: 1;
  border: 1px solid #f83e01;
  border-radius: 3px;
}

.swiper-pagination {
  display: none;
}

.cover {
  background-image: url('../../../../public/assets/img/noBookCoverFont.png');
  background-repeat: no-repeat;
}

@media screen and (max-width: 1080px) {
  .big-swiper {
    width: 136px;
    height: 238px;
  }

  .mini-swiper {
    height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-slide img {
    height: 198px;
    border-radius: 10px;
  }

  .mini-swiper {
    display: none !important;
  }

  .mini-slider__img {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-pagination-bullet {
    background-color: #bfc4c9 !important;
    width: 7px !important;
    height: 7px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #363636 !important;
    width: 7px !important;
    height: 7px !important;
  }
}

@media screen and (max-width: 760px) {
  .big-swiper {
    border-radius: 10px;
  }
}

@media screen and (max-width: 320px) {
  .big-swiper {
    width: 188px;
    height: 300px;
  }

  .swiper-slide img {
    height: 260px;
  }
}
