.reset__window {
  max-width: 528px;
  width: 100%;
  padding: 48px 56px;
  background: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
}

.reset__form > .eye {
  margin-bottom: 68px;
}

.reset__form > .error {
  margin-bottom: 50px;
}

.reset__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 32px;
  color: #363636;
  text-align: center;
}

.reset__button {
  max-width: 416px;
  width: 100%;
  height: 52px;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 30px;
  border: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;
}

.reset__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #727272;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.reset__reminder {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #a7a7a7;
  padding-left: 12px;
}
