.sider,
.sider-collapsed {
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
    min-height: 100vh;
}

.logo-collapsed {
    margin: 49px 0 77px;
    text-align: center;
}

.logo {
    margin: 28px 0 62px;
}

.sidebar__icon path {
    fill: #061178;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.menu-item-collapsed {
    padding: 0 0 44px 0 !important;
}

.menu-item-mobile {
    padding: 0 0 40px 8px !important;
}

.menu-item {
    padding: 0 0 40px 17px !important;
}

.ant-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.ant-menu-title-content {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.ant-menu-item-only-child {
    display: flex;
    justify-content: center;
}

.logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    height: 40px;
    box-shadow: inset 0 1px 0 0 rgb(240, 240, 240);
}

.logout__btn {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    width: 100%;
}

.logout__btn span {
    display: none;
}

.logout__btn .exit {
    display: block;
    padding: 4px 12px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 834px) {
    .logo {
        margin: 30px 0 62px;
    }
}

@media screen and (max-width: 360px) {
    .sider,
    .sider-collapsed {
        position: fixed;
        background: #fff;
        height: 100%;
    }

    .logo-collapsed,
    .ant-menu,
    .logout {
        overflow: hidden;
    }
}
